@import url("https://fonts.googleapis.com/css2?family=Lobster&display=optional");
* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #646fd4;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23304f6e' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: "Lobster", cursive;
  min-height: 200vh;
}

.header {
  align-items: center;
  background-attachment: fixed;
  background-image: url("../images/bg.jpg");
  background-position: left;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.header__heading {
  color: #dbdffd;
  font-size: clamp(5rem, 10vw, 10rem);
  text-align: center;
  text-shadow: 5px 5px #9ba3eb;
}

.header img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputField-container {
  max-width: 20rem;
  min-width: 15rem;
}

.input-field {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border: 0;
  color: #dbdffd;
  font-size: 3rem;
  max-width: 20rem;
  min-width: 15rem;
  outline: 0;
  text-align: center;
  transition: border-bottom 0.5s;
}

.input-field:focus {
  border-bottom: 1px solid hsl(211, 75%, 71%);
}

::placeholder {
  color: #dbdffd;
}

.dropdown {
  background-color: hsl(0, 0%, 95%);
  color: #242f9b;
  cursor: pointer;
  font-size: 3rem;
  padding: 0.5rem;
  width: 100%;
}

.dropdown:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
}

.grid__item {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
  padding: 1.5rem;
  transition: transform 0.5s;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 100fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 100fr);
  }
}
